<% include header %>
<div class="content-page">
    <!-- Start content -->
    <div class="content">

        <div class="page-content-wrapper ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="btn-group float-right">
                                <ol class="breadcrumb hide-phone p-0 m-0">

                                </ol>
                            </div>
                            <h4 class="page-title">Dashboard</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title end breadcrumb -->
                <div class="row">
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-md-6 col-lg-6 col-xl-4">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                    <div class="col-3 align-self-center">
                                        <div class="round">
                                            <i class="mdi mdi-fan"></i>
                                        </div>
                                    </div>
                                    <div class="col-6 text-center align-self-center">
                                        <div class="m-l-10 ">
                                            <h5 class="mt-0 round-inner"> Pump </h5>
                                            <p class="mb-0 text-muted">Open</p>
                                        </div>
                                    </div>                                                     
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-md-6 col-lg-6 col-xl-4">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                    <div class="col-3 align-self-center">
                                        <div class="round ">
                                            <i class="mdi mdi-water"></i>
                                        </div>
                                    </div>
                                    <div class="col-6 align-self-center text-center">
                                        <div class="m-l-10 ">
                                            <h5 class="mt-0 round-inner"> Irrigation </h5>
                                            <p class="mb-0 text-muted"> Open </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-md-6 col-lg-6 col-xl-4">
                        <div class="card bg-white m-b-30">
                            <div class="card-body bg-primary">
                                <div class="row">
                                    <div class="col-12  align-self-center">
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6 text-center">
                                                <canvas id="partly-cloudy-day" width="70" height="70"></canvas>
                                                <h6 class="text-white">SUNDAY <span>25<sup>th</sup></span></h6>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 text-center align-self-center">
                                                <h5 class="mt-0 text-white"><b>32°</b></h5>
                                                <p class="text-white  font-12">Partly cloudy</p>
                                                <p class="text-white font-12">15km/h - 37%</p>
                                            </div>
                                        </div><!-- End row -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card m-b-30">
                            <div class="card-body">

                                <h4 class="mt-0 header-title">Area Chart</h4>

                                <div id="morris-area-example" style="height: 300px"></div>

                            </div>
                        </div>
                    </div> <!-- end col -->

                    <div class="col-lg-6">
                        <div class="card m-b-30">
                            <div class="card-body">

                                <h4 class="mt-0 header-title">Area Chart</h4>

                                <div id="morris-area-example2" style="height: 300px"></div>

                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- content -->

            <footer class="footer">© 2018 SmartGarden by PT13307.</footer>

        </div>
        <!-- End Right content here -->

    </div>
</div>
<% include footer %>